#dynamic_textH3 {
  text-align: center;
  /* margin: auto; */
}




/* CSS for the feature section */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

#features-head {
  margin-top: 20px;
}

#features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.feature {
  background-color: #f7f7f7;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feature i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #000;
}

.feature h3 {
  margin-bottom: 10px;
  color: #000;
}

.feature p {
  color: #000;
}

@keyframes slide-in {
  0% {
    opacity: 1;
    font-size: 16px;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    font-size: 18px;
    transform: scale(1.1);
  }
}


/* about us */
#about-us {
  text-align: center;
  margin-top: 40px;
  padding: 40px;
  background: linear-gradient(45deg, #0071EB, #00C6FF);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

#about-us:hover {
  transform: rotateY(20deg) translateZ(20px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#about-us h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#about-us p {
  font-size: 20px;
  margin: 10px;
  line-height: 1.6;
}

#about-us p:last-child {
  margin-bottom: 0;
}

#about-us::before {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #fff;
  margin: 0 auto 20px;
  border-radius: 2px;
}

@media screen and (max-width: 768px) {
  #about-us {
    padding: 20px;
  }

  #about-us h2 {
    font-size: 24px;
  }

  #about-us p {
    font-size: 14px;
  }
}
