@media screen and (max-width: 1000px) {

  .converter-box {
    width: 95%;
    margin: 5px auto;
  }

  .converter-box>div {
    flex-direction: column;
    justify-content: center;
  }

  .converter-box div div {
    margin: 10px;
  }

  .converter-box div .input-box {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  .converter-box div div select,
  .converter-box div div input {
    padding: 10px;
    /* overflow-x: hidden; */
    width: 250px;
  }
}

@media screen and (max-width: 769px) {

  .converter-box {
    width: 95%;
    margin: 5px auto;
    padding: 0;
  }

  .converter-box>div {
    flex-direction: column;
    justify-content: center;
  }

  .converter-box div div {
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .converter-box div .input-box {
    width: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
  }

  .convert-btn {
    margin-bottom: 10px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-container div {
    margin: 10px;
  }

  .chat-section {
    width: 100%;
  }

  .converter-box div div select,
  .converter-box div div input {
    padding: 10px;
    /* overflow-x: hidden; */
    width: 180px;
  }


  iframe#video-container {
    width: 100%;
    height: auto;
  }
}